@use "../helper/mixin" as *;

.auth {
  width: 100vw;
  height: 100vh;

  // &-header {
  //   width: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 20px 0;

  //   img {
  //     height: 44px;
  //   }
  // }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    // height: calc(100vh - 84px);
    height: 100vh;
    padding: 20px;
    background: rgb(245 245 245);

    h1 {
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 600;
      color: rgb(33 33 33);
      text-align: center;
    }

    h2 {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 600;
      color: rgb(33 33 33);
      text-align: center;
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px !important;
      height: 64px !important;
      margin-bottom: 16px;
      background-color: #000;
      border-radius: 50%;

      svg {
        width: 32px;
        height: 32px;
        stroke: #fff;
      }
    }

    &-form {
      width: 550px;
      padding: 24px;
      background: #fff;
      border: 1px solid #0000001a;
      border-radius: 12px;

      h1 {
        margin-bottom: 30px;
      }

      .el {
        &-input {
          border: 1px solid #0000001a !important;
        }
      }
    }
  }
}
