@use "../helper/mixin"as *;

.auth {
  width: 100vw;
  height: 100vh;

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background: #f0f5f8;

    h2 {
      margin-bottom: 20px;
      font-size: 30px;
      font-style: bold;
      font-weight: 700;
      line-height: 42px;
      color: #880019;
      text-transform: uppercase;
    }

    h3 {
      width: max-content;
      margin: 18px auto 0;
      margin-top: 18px;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
      color: rgb(136 0 25 / 100%);
      text-align: center;
      text-decoration-line: underline;
      cursor: pointer;
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px !important;
      height: 64px !important;
      margin-bottom: 16px;
      background-color: #000;
      border-radius: 50%;

      svg {
        width: 32px;
        height: 32px;
        stroke: #fff;
      }
    }

    &-form {
      width: 880px;
      padding: 30px;
      background: #fff;
      border-radius: 12px;

      h1 {
        margin-bottom: 30px;
      }

      .el {
        &-input {
          border: 1px solid #0000001a !important;
        }
      }
    }
  }
}