@use "../helper/mixin" as *;
@forward "auth";
@forward "detail";

.my-style {
  // --el-menu-border-color:#ff040e;

  .default {
    &-wrapper {
      display: flex;

      // height: calc(100vh - 90px);
      height: 100vh;
    }

    &-sidebar {
      min-width: 68px;
    }

    &-layout {
      width: 100%;

      // min-height: calc(100vh - 90px);
      min-height: 100vh;
      padding: 60px;
      overflow: hidden;
      background-color: rgb(245 245 245);
    }
  }

  .layout {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      &-logo {
        height: 70px;

        img {
          height: 100%;
          transition: all 0.3s;
        }
      }

      &-profile {
        display: flex;
        gap: 14px;
        align-items: center;
        width: max-content;
        margin-left: auto;

        &-info {
          h3,
          h4 {
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            color: #123654;
            text-align: right;
            letter-spacing: 0%;
          }

          h4 {
            color: #880019;
          }
        }

        button {
          background: rgb(240 245 248 / 100%);
          border: none;
          border-radius: 4px;

          &:hover {
            background-color: transparent !important;
            border: 1px solid #880019 !important;
          }
        }
      }
    }

    &-profile {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 16px;
      border-bottom: 1px solid var(--el-menu-border-color);

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 36px;
        max-width: 36px;
        height: 36px;
        background-color: #000;
        border-radius: 50%;

        svg {
          width: 20px;
          height: 20px;
          stroke: #fff;
        }
      }

      &-info {
        span {
          overflow-wrap: unset;
          transition: all 0.3s;
        }
      }
    }

    &-menu {
      --el-menu-item-font-size: 16px;
      --el-menu-item-height: auto;

      width: 100% !important;
      max-width: 300px;
      transition: all 0.3s;

      &-collapse {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid var(--el-menu-border-color);

        // z-index: 1;
        border-radius: 50%;
        transform: translate(50%, 100%);
        transition: all 0.3s;

        &.open {
          transform: translate(50%, 50%) rotate(180deg);
        }
      }
    }
  }

  &-footer {
    border-top: 1px solid var(--el-menu-border-color);
  }
}

.mini-menu {
  .layout {
    &-header {
      height: 60px;

      &-logo {
        height: 40px;
      }

      &-profile {
        &-image {
          width: 40px;
          height: 40px;
        }

        &-info h4 {
          display: none;
        }
      }

      &-exit {
        height: 59px;
      }
    }
  }
}
