@use "../helper/mixin" as *;

.page {
  &.mini {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: rgb(33 33 33);
  }

  &-form {
    &-body {
      &-hr {
        margin: 40px 0;
        border-top: 1px solid #e5e8ec;

        &.m-20 {
          margin: 20px 0;
        }
      }
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .el-date-editor,
  .el-input,
  .el-input-affix-wrapper,
  .el-input-password,
  .el-picker,
  .el-select__wrapper,
  .el-textarea__inner,
  .el:not(.el-input-number--small) {
    border: 1px solid rgb(217 217 217 / 100%) !important;
    border-radius: 6px;

    // background-color: #fff !important;
  }

  &-support {
    &-contacts {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 50px;

      span {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #7d7d7d;

        a {
          color: #212121;
          text-decoration: none;
        }
      }
    }
  }

  &-view {
    &-item {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid #e5e8ec;

      h3 {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: rgb(33 33 33);
        text-align: left;
      }

      p {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: rgb(33 33 33);
      }

      span {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #7d7d7d;

        b {
          font-weight: 600;
          color: #212121;
        }
      }

      &.list {
        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          align-items: center;
          padding-left: 0;
          list-style: none;

          li {
            a {
              display: flex;
              gap: 10px;
              align-items: center;
              justify-content: center;
              width: max-content;
              padding: 4px 8px;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              color: rgb(33 33 33);
              text-decoration: none;
              border: 1px solid #e5e8ec;
              border-radius: 4px;
            }

            .svg {
              width: 30px;
              height: 30px;
              background: rgb(234 244 251);
              border-radius: 6px;
            }
          }
        }
      }
    }
  }

  .recursive {
    &-table {
      padding: 20px 0;
      border-bottom: 1px solid #e5e8ec;

      &-header {
        padding: 12px;
        background-color: #f9fafb;

        span:not(.el-button span) {
          width: max-content;
          padding: 0 10px;
          font-size: 16px;
          font-weight: 400;
          color: #000;
        }
      }

      &-body {
        .el-date-editor,
        .el-input,
        .el-input-affix-wrapper,
        .el-input-password,
        .el-picker,
        .el-select__wrapper,
        .el:not(.el-input-number--small) {
          height: 36px !important;
          padding: 10px !important;
        }
      }

      &-item {
        display: flex;
        gap: 20px;
        align-items: center;
        padding: 8px 0;

        .el {
          &-row {
            width: 100%;
          }

          &-button {
            height: 36px;
          }
        }
      }
    }
  }

  &-report {
    &-view {
      &.await {
        padding: 20px 10px;
        margin-bottom: 20px;
        background-color: #fefce8;

        span {
          font-size: 22px;
          font-weight: 700;
          color: #894b00;
        }
      }

      &.accept {
        padding: 20px 10px;
        margin-bottom: 20px;
        background-color: #e8feeb;

        span {
          font-size: 22px;
          font-weight: 700;
          color: #1c9a00;
        }
      }

      &.declined {
        padding: 20px 10px;
        margin-bottom: 20px;
        background-color: #fee8e8;

        span {
          font-size: 22px;
          font-weight: 700;
          color: #c40000;
        }
      }

      &-header {
        padding: 20px;
        color: #fff;
        background-color: #2b8bd1;
        border-radius: 20px;

        .border {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #fff;
        }

        h3 {
          font-size: 32px;
          font-weight: 600;
        }

        h4 {
          font-size: 28px;
          font-weight: 500;
        }

        span {
          display: block;
          font-size: 22px;
          font-weight: 400;
        }
      }

      &-area {
        display: flex;
        gap: 20px;
        padding: 20px;
        border: 1px solid #e5e8ec;
        border-radius: 20px;
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #ffedd4;
        border-radius: 50%;
      }

      &-info {
        width: 100%;

        div {
          padding: 16px 10px;
          background-color: #ffedd4;
          border-left: 5px solid #ffc107;
        }
      }
    }
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: #000 !important;
}

@media print {
  body {
    padding: 0;
    margin: 0;
  }

  /* Belgilangan joyni kengaytirish */
  #contentToPrint {
    /* Ichidagi kontentni bo'linishdan saqlash */
    width: 100%;
    break-before: always;

    /* Agar kerak bo'lsa, sahifalar orasida bo'linish */
    break-inside: avoid;

    /* Printda kengligini to'liq qilish */
  }

  /* Sahifaning chegara o'lchamlari */
  .print-container {
    padding: 20px;
  }
}
