@mixin devices($breakpoint) {
  @if $breakpoint==xxl {
    @media only screen and (width <= 1752px) {
      @content;
    }
  }

  @if $breakpoint==xl {
    @media only screen and (width <= 1599px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (width <= 1199px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media only screen and (width <= 991px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (width <= 767px) {
      @content;
    }
  }

  @if $breakpoint==xs {
    @media only screen and (width <= 575px) {
      @content;
    }
  }

  @if $breakpoint==lg {
    @media only screen and (width <= 1199px) {
      @content;
    }
  }

  @if $breakpoint==md {
    @media only screen and (width <= 991px) {
      @content;
    }
  }

  @if $breakpoint==sm {
    @media only screen and (width <= 768px) {
      @content;
    }
  }

  @if $breakpoint==xs {
    @media only screen and (max-width: 100%) {
      @content;
    }
  }
}

@mixin image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin free-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin splice($count) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $count;
  -webkit-box-orient: vertical;
}

@mixin content {
  padding: 24px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 10%);

  @include devices(lg) {
    padding: 16px;
  }
}

* {
  --el-table-current-row-bg-color: #f0f4f8 !important;
}
